* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(250, 246, 247);
    color:lightblue;
}

nav {
    padding: 50px;
    display: flex;
    justify-content:right;
    align-items: center;
    margin: 20 auto;
}

input[type=submit] {
    margin-left: 80px;
}